.footer__columns{
  margin: 0 auto;
  padding: 0;
  max-width: 90%;
  min-height: 250px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}