.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.content{
  max-width: 100%;
}

.header {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
}

.logo{
  width: 228px;
  height: 32px;
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title{
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  max-width: 730px;
  margin: 0 0 0 64px;
  z-index: 3;
}

.header__subtitle{
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height:25px;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  z-index: 1;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
  position: absolute;
  top: 64px;
  right: 0px;
}

.description{
  margin: 100px 0;
  padding: 0;
}

.two-columns {
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.two-columns__main-text {
  margin: 0;
  max-width: 80%;
  min-width: 784px;
  justify-content: space-between;

}

.two-columns__brief {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding: 0 0 30px 0;
 }

 .two-columns__paragraph:last-child {
  padding: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;

}
.section-title {
  margin: 0 auto;
  max-width: 60%;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.section-subtitle {
  margin: 0 auto;
  max-width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  justify-content: center;
}

.table {
  margin: 0 auto;
  padding: 0;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
}

.table__cell{
  padding-top: 60px;
  list-style: none;
  width: 250px;
}

.table__heading{
  padding: 0;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text{
  padding: 0;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
  list-style: none;
}

.feynman{
  padding: 0;
  margin: 0 auto;
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.feynman__title {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;
  text-align: center;
}

.feynman__subtitle {
  margin: 0 auto;
  padding-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  z-index: 1;
  text-decoration: none;
}

.feynman__image {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 637px;
  width: 867px;
  z-index: 0;
}

.kaufman{
  margin: 0;
  padding: 0;
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
  background-size: contain;
}

.section-title_theme_dark{
  color: #ffffff;
  z-index: 1;
}

.section-subtitle_theme_dark{
  color: #ffffff;
  z-index: 1;
}

.table_theme_dark{
  z-index: 1;
  background-size: cover;
}

.table__cell_theme_dark{
  padding-top: 80px;
  max-width: 200px;
}

.table__heading_theme_dark{
  color: #ffffff;
  list-style: none;
  
}

.table__text_theme_dark{
  color: #ffffff;
}

.kaufman__triangle{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  object-fit: cover;
  right: -210px;
  background-image: url('../images/kaufman-triangle.svg');
  width: 877px;
  height: 877px;
  z-index: 0;
}

.footer{
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #1f1f1f;
}

.footer__columns{
  margin: 0 auto;
  max-width: 90%;
  min-height: 350px;
  flex-basis: 711px;
  padding-top: 60px;
  padding-bottom: 40px;
  flex-direction: row;
  color: #ffffff;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.footer__column_copyright{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_info{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer__column_content_social{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.logo_place_footer{
  display: flex;
  align-items: flex-start;
}

.footer__author{
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  align-items: flex-start;
}

.footer__column-heading{
 margin: 0;
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__social-icon{
  text-decoration: none;
  color: #ffffff;
  margin-right: 10px;
  height: 16px;
  width: 16px;
}

.footer__column-link{
  padding: 0;
  color: #ffffff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.footer__column-links{
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
}
/*final version 14.10 23:40 */

.techniques{
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

.cards {
  margin: 0 auto;
  padding: 0;
  width: 920px;
  flex-wrap: wrap;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-column-gap: 100px;
}

.cards__item {
  margin: 0, auto;
  list-style: none;
  width: 250px;
}

.cards__image {
  margin: auto;
  box-sizing: border-box;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 60px;
  overflow: hidden;
}

.cards__title{
  padding: 0;
  margin: 0;
  padding-top: 43px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.cards__description{
  padding: 0;
  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 16px;
  list-style: none;
  text-align: center;
}

.video{
  margin: 0 auto;
  padding: 0;
}

.video__iframes{
  margin: 0 auto;
  padding: 0;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
