.khan__buy-link{
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}
.khan__buy-link:hover {
  color: rgb(7,	128,	237, .5);
  transition: 1s linear 0.5s;
} 